<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Control IP</title>
		<style type="text/css">
			body{
				margin: 0 auto;
				width: 800px;
			}
			#new_computer_form{
				margin-left: auto;
				margin-right: auto;
				width: 90%;
			}
			#table_computers_content{
				margin-left: auto;
				margin-right: auto;
				width: 70%;
			}
			#error_text{
				font-size: 13px;
			}
			#a_update{
				text-decoration: None;
				color: blue;
			}
			#a_delete{
				text-decoration: None;
				color: red;
			}
			#a-ip{
				text-decoration: None;
				color: black;
			}
		</style>
	</head>
	<body>
		{% block content%}
		{% endblock %}
	</body>
</html>